RPC_URL=https://your-rpc-url.com
HARDHAT_RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=your_deployer_wallet_private_key
OWNER_ADDRESS=your_deployer_wallet_address
FAUCET_SIGNER_ADDRESS=your_faucet_signer_wallet_address
ETHERSCAN_API_KEY=your_etherscan_api_key
TOKEN_NAME="ShortURL Reward"
TOKEN_SYMBOL="SURL"
TOKEN_DECIMALS=18
